.App {
  text-align: center;
  flex-shrink: 0;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100vh;
}

.header-up {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  background-color: #211d1d;
  color: white;
}

.header-link {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 1.2rem;
}

.header-link:any-link {
  color: azure;
  text-decoration: none;
}

.header-link:hover {
  color: #dcdcdc;
  transition: 0.5s all;
  transition-property: color transform;
  transform: scale(0.95);
}

.header-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 2px solid black;
  position: relative;
}

.container {
  display: contents;
}

.header-bot-logo {
  display: flex;
  padding: 0;
  align-items: center;
  height: 115px;
  margin-left: 150px;
  justify-content: center;
}

.header-bot-left {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bot-list {
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: 800;
}

.nav-list li {
  transition: transform 500ms ease;
}

.nav-list li:hover {
  transform: scale(1.1);
}

.nav-list li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: transform 500ms ease;
}

.nav-list li a:hover {
  color: #ba55d3;
  text-shadow: #ba55d3 1px 0 10px;
  border-bottom: 2px solid purple;
}

.header-icon {
  width: 36px;
  height: 36px;
}

.header-bot-bucket {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-right: 10px;
}

.header-bot-right-info {
  margin-left: 75px;
}

.header-bot-bucket a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2px;
}

.icon-bucket-user {
  height: 34px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.header-bot-bucket a:hover {
  color: #8a2be2;
}

.icon-bucket {
  height: 34px;
  cursor: pointer;
}

.shop-card-icon {
  height: 30px;
  width: 50px;
  cursor: pointer;
  transition: color 500ms ease, transform 500ms ease;
}

.shop-card-icon:hover,
.shop-card-icon.active {
  color: #ba55d3;
  transform: scale(1.1);
}

.shop-bucket {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 450px;
  min-height: 100px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 12px 13px 12px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 12px 13px 12px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 12px 13px 12px 0px rgba(0, 0, 0, 0.31);
  border-radius: 5px;
}
