/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Brands-info {
  display: flex;
  justify-content: center;
}

.Brands-info h1 {
  font-family: "Jolly";
  font-size: 55px;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-top: 10px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
