* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  background-image: url("/build/static/media/spray2.png");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: top;
}

.slider-all {
  margin-top: 17px;
  background: rgb(224, 224, 224);
  background: linear-gradient(
    0deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(252, 252, 252, 1) 5%,
    rgba(255, 255, 255, 1) 50%,
    rgba(252, 252, 252, 1) 95%,
    rgba(224, 224, 224, 1) 100%
  );
}

.Brands-info {
  /* background-color: #bb99c4;
  border-top: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-image: url("/build/static/media/spray2.png");
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: center;
}

.page-card-info {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Brands-info h1 {
  font-family: "Roboto";
  font-size: 35px;
  color: white;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
