.Card-info {
  padding: 20px;
  color: aliceblue;
  justify-content: center;
  /* border-top: 1px solid black; */
  /* box-shadow: 0px 0px 15px black; */
  padding-bottom: 50px;
  margin-top: 25px;
}

/* .Card-info h1 {
  color: black;
  display: flex;
  justify-content: center;
  font-family: "Jolly";
  font-size: 55px;
} */

.card-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  justify-items: center;
  column-gap: 45px;
  row-gap: 45px;
  margin: 0 auto;
}

.card-item-main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 50px;
  padding: 25px;
  width: 200px;
  height: 350px;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.9s;
}

.card-item-main:hover {
  -ms-transform: scale(1.8);
  -webkit-transform: scale(1.9);
  transform: scale(1.1);
  /* box-shadow: 0px 0px 15px black; */
  cursor: pointer;
}

.card-item-main a {
  width: 100px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border: 1px solid #3e018c;
  border-radius: 10px;
  background-color: #3e018c;
  padding: 7px 14px;
}

.Card-pos {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  
}

.heart-icon {
  cursor: pointer;
}

.card-item-main a:hover {
  background-color: #7502ab;
}
