* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.News {
  border-top: 1px solid grey;
  width: 100%;
}

.page-card-news {
  margin-top: 25px;
  background-image: url("/build/static/media/spray3.png");
  background-repeat: no-repeat;
  background-size: 340px;
  background-position: top;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 35px;
}

.main-news {
  margin-top: 35px;
  /* padding-bottom: 10px; */
}

/* Большой блок */
.big-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  row-gap: 45px;
  margin: 0 auto;
  padding-top: 10px;
}

.article-wrap {
  position: relative;
  display: inline-block;
  background: #333;
  overflow: hidden;
}

.article-wrap img {
  /* width: 800px; */
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: 5s;
  display: block;
}

.article-wrap img:hover {
  transform: scale(1.08);
  /* filter: blur(2px); */
  filter: brightness(40%);
}

/* Текст */

.article_text {
  z-index: 4;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  bottom: 55px;
  text-align: left;
  padding: 20px;
  line-height: 1.3;
}

.article_text a {
  color: red;
  text-decoration: none;
  font-size: small;
}

.article_text a:hover {
  color: #b30000;
}

/* Маленький блок */

.small-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  row-gap: 45px;
  margin: 0 auto;
  padding-top: 10px;
}

.article-wrap-small {
  position: relative;
  display: inline-block;
  background: #333;
  overflow: hidden;
}

.article-wrap-small img {
  /* width: 523px; */
  min-width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 5s;
  display: block;
  /* filter: brightness(40%); */
}

.article-wrap-small img:hover {
  transform: scale(1.08);
  /* filter: blur(2px); */
  filter: brightness(40%);
}

@media screen and (max-width: 1200px) {
  .article-wrap-small img {
    width: 300px;
  }
  .big-new img {
    width: 400px;
  }
}
