* {
  margin: 0;
  padding: 0;
}
#root {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.product-main {
  display: flex;
  justify-content: center;
}

/* Перекинуть в отдельный модуль */
.path-cont {
  background-color: #f5f5f5;
  line-height: 35px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.path-cont a {
  display: flex;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.path-cont a:hover {
  color: gray;
}

.path-des::after {
  content: "->";
  color: black;
  left: 100%;
  margin-left: 7.5px;
}

/*  */
.image-container {
}
.product-info {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
  max-width: 800px;
}

.product-info h1 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.product-price span {
  font-size: 2.5rem;
}

.product-button {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.button-bucket {
  padding: 10px 50px 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #a800e5;
  border: 1px solid #a800e5;
  transition: 500ms ease;
}

.button-bucket:hover {
  background-color: #7502ab;
}

.button-heart {
  border: none;
  background-color: white;
  transition: 500ms ease;
}

.button-heart:hover {
  color: #7502ab;
}

.product-list {
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
}

.product-list button {
  transition: 300ms ease;
}

.product-list button:hover {
  color: #a800e5;
}

.product-list button:focus {
  color: #a800e5;
}

.product-list button {
  border: none;
  background-color: white;
}

.product-down {
  padding-top: 50px;
}

.inters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .product-main {
    flex-direction: column;
  }
  .product-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
