.slide-img {
  display: flex;
  padding: 0;
  margin: 0;
  /* width: 100px; */
  /* margin-left: 180px; */
}

.slide-img img {
  justify-self: center;
  width: 100%;
  height: 700pzpx;
  object-fit: fill;
  /* margin-left: 100px;
  margin-right: 100px; */
}

.slick-active li {
  opacity: 1;
}
